body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float i {
    margin-top: 5px;
}

.fullscreen-image {
    position: relative;
    height: 100vh; /* Toma el 100% del alto de la ventana */
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Envía la imagen al fondo para que esté detrás del contenido */
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Cambiado de relative a fixed */
    top: 0; /* Asegura que el menú se pegue a la parte superior de la pantalla */
    left: 0; /* Asegura que el menú se pegue al lado izquierdo de la pantalla */
    width: 100%; /* Hace que el menú tenga el ancho completo de la pantalla */
    z-index: 1; /* Asegura que el menú esté sobre la imagen de fondo */
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    left: 30px;
    width: 70px;
    max-height: 100px;
    border-radius: 100%;
}

.logo-text {
    font-size: 1cm;
    margin-left: 90px; /* Cambié el margen a la izquierda para separar el texto del logo */
    font-family: 'Pacifico', sans-serif;
    font-size: 20px;
    
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #800080; /* Color morado */
    border-bottom: 2px solid #800080;
}

.circled-text {
    display: inline-block;
    background-color: #800080; /* Morado */
    color: #ffffff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 50%; /* Bordes redondeados para crear un círculo */
    text-align: center; /* Centra el texto */
}

.centered-text p {
    font-size: 2em;
    margin: 0;
    color: #000;
}

#line1, #line3 {
            color: white;
        } 

#line2 {
    font-weight: bold; /* Texto en negritas */
    color: cyan; /* Color azul marino (#000080 es un tono común de azul marino) */
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 250px; /* Ancho de la imagen circular */
    height: 250px; /* Alto de la imagen circular */
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px; /* Margen inferior para separar la imagen circular del texto */
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-content {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
}
/* Texto e imagen de en medio */
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centra el texto */
}
/*Encabezados y Textura*/
.icono-sin-textura {
    font-size: 40px;
    background: none !important;
    -webkit-background-clip: border-box !important;
    background-clip: border-box !important;
    color: black; /* o el color que desees para tu ícono */
}

.titulo-texturizado {
  font-size: 2.5em; /* Tamaño del texto */
  color: transparent;
  background: url('../Imagenes/text.jpg'); /* Ruta a la imagen de la textura */
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Arial', sans-serif; /* Cambia a la fuente deseada */
    text-align: center
}


/* Si quieres que la textura sea una serie de puntos, podrías generarla directamente con CSS */
.textura::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 10px 10px;
  opacity: 0.5; /* Ajusta la opacidad para la visibilidad del efecto */
  pointer-events: none;
}
/*Encabezados y Textura*/

.Certif {
  font-size: 2.5em; /* Tamaño del texto */
  color: transparent;
  background: url('../Imagenes/text.jpg'); /* Ruta a la imagen de la textura */
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Arial', sans-serif; /* Cambia a la fuente deseada */
    text-align: center
}

.timeline-container {
    position: relative;
    width: 100%; /* Ancho relativo al contenedor padre */
    height: 500px; /* Altura fija */
    overflow-x: auto; /* Activa la barra de desplazamiento horizontal */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

.timeline {
    position: absolute;
    width: 1500px;
    height: 60px; /* Altura solo para la línea de tiempo */
    top: 40%;
    border-top: 1px solid #555; /* Línea horizontal de la base */
    border-bottom: 1px solid #555; /* Línea horizontal superior */
}

.year {
    position: absolute;
    top: 0;
    border-left: 1px solid #777; /* Línea vertical para los años */
    height: 100%;
    color: blue; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    text-align: center;
}

.info-card {
    display: block; /* Asegura que la tarjeta siempre sea visible */
    position: absolute;
    top: 70px; /* Posición debajo de la línea de tiempo */
    left: 20%;
    transform: translateX(-50%);
    background-color: #666; /* Fondo de la tarjeta */
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Sombra opcional */
    white-space: nowrap;
    z-index: 2; /* Asegura que se muestre por encima de otros elementos */
}

.info-card2 {
    display: block; /* Asegura que la tarjeta siempre sea visible */
    position: absolute;
    top: -150px; /* Posición debajo de la línea de tiempo */
    left: 20%;
    transform: translateX(-50%);
    background-color: #666; /* Fondo de la tarjeta */
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Sombra opcional */
    white-space: nowrap;
    z-index: 2; /* Asegura que se muestre por encima de otros elementos */
}

.Proyects{
color: cyan;
}
.marks {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 10%;
}

.marks::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid cyan;
    z-index: 1;
}

.marks::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient(to right, 
                                          #777 0, #777 1px, 
                                          transparent 1px, transparent 10%);
}

/* Estilos de Quien soy y Habilidades */
.bg-light {
    background-color: #f9f9f9; /* Un tono de gris claro */
    padding: 50px; 
    width: 80%; /* Cambia el ancho según tus preferencias */
    margin: auto;
    border: none;
}
/* Estilos para dividir Habilidades y Quien Soy*/
.container {
  display: flex;
}

.left-column,
.right-column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
    border: none;
}

.right-column {
  background-color: #f9f9f9; /* Puedes cambiar el color de fondo según tus preferencias */
    border: none;
}
/* Estilos de barra */
.skills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill {
  margin-bottom: 20px;
}

.skill h3 {
  margin: 0 0 10px;
}

.skill-bar {
  height: 10px;
  background-color: #4caf50;
  border-radius: 5px;
}


.section {
    max-width: 250px;
    text-align: center;
}

.section p {
    margin: 5px 0;
}

.redes-sociales i {
    font-size: 24px; /* Tamaño del icono */
    color: #000; /* Color del icono */
    margin: 5px; /* Espaciado alrededor de los iconos */
}
.footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el tamaño */
}

.footer .section {
    max-width: 250px;
    text-align: center;
    margin: 10px; /* Añade un poco de margen alrededor de las secciones */
}

/* Estilos para dispositivos móviles (teléfonos) */
@media (max-width: 600px) {
    .whatsapp-float {
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        font-size: 25px;
    }

    .logo img {
        width: 50px;
         
    }
    .logo-text{
        font-size: 0.4em;
    }

    nav a {
        font-size: 0.45em;
    }

    .centered-text p {
        font-size: 1.5em;
    }

    .container {
        flex-direction: column;
    }

    .circular-image {
        width: 150px;
        height: 150px;
    }

    .footer {
        flex-direction: column;
    }
}

